body{
    background-image: url("http://cdn.desktopwallpaper4.me/wallpapers/abstract/2560x1600/1/80-sun-ray-2560x1600-abstract-wallpaper.jpg");
}

 /*h1{
 	text-align: center;
 }*/

.devour {
  margin: -5px;
}
